<footer>
	<div class="container">
		<div class="col-lg-12">
			<ul class="list-unstyled">
				<li><h2>
						<logo> JustTag</font-family></logo>
					</h2></li>
				<li>
					<p>
						Made by Just Tag Team. Contact us at <a
							href="mailto:junwookapa@gmail.com">junwookapa@gmail.com</a>.
					</p>
					<p>
						Server Running On <a href="https://www.openshift.com"
							rel="nofollow">Openshift</a>. Code is located on <a
							href="https://github.com/junwookapa/justtagserver" rel="nofollow">github</a>.
					
					<p>
						Web UI Based on <a href="https://bootswatch.com/" rel="nofollow">Bootswatch</a>
						and <a href="http://getbootstrap.com" rel="nofollow">BootsTrap</a>.
						Web fonts from <a href="http://www.google.com/webfonts"
							rel="nofollow">Google</a>.
					</p>
				</li>
			</ul>
		</div>
	</div>
</footer>